{% extends "source.html" %}
{% load static %}
{% block title %}
About Us
{% endblock title %}
{% block content %}
    <div class=main>
        <div class="container" id="container">
            <div>
                <p class="p">ABOUT OKWUSON</p>
                <h1 class="drinks">
                    Great Drinks,<br> 
                </h1>
                <h1 class="red">Better Moments.</h1>
                <p class="our">
                    At OKWUSON, we believe that every moment<br>
                    becomes better with the right drink.
                </p>
                <p class="goal">
                    Our goal is to bring together a collection of<br>
                    refreshing and enjoyable drinks that people<br>
                    can enjoy at any time.
                </p>
            </div>

            <h1 class="about">ABOUT US</h1>
        </div>

        
        <section class="box1">
            <h1 class="us">ABOUT US</h1>
            <div class="box5">
                <div class="box2">
                    <div class="box3">
                        <div class="box4">
                            <div class="glass">
                                <i class="fa-solid fa-whiskey-glass"></i>
                            </div>
                        </div>
                        <h2 class="story">Our Story</h2>
                        <p class="was">
                            OKWUSON was created with a simple<br>
                            idea: make discovering great drinks<br>
                            easy, enjoyable and exciting.
                        </p>
                    </div>
                </div>

                <div class="box2">
                    <div class="box3">
                        <div class="box4">
                            <div class="glass">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                        </div>
                        <h2 class="story">Our Mission</h2>
                        <p class="was">
                            We want to create a place where<br>
                            everyone can discover drtinks that<br>
                            fit their taste, mood and special moments.
                        </p>
                    </div>
                </div>

                <div class="box2">
                    <div class="box3">
                        <div class="box4">
                            <div class="glass">
                                <i class="fa-regular fa-star"></i>
                            </div>
                        </div>
                        <h2 class="story">Our Vision</h2>
                        <p class="was">
                            To become a trusted destination<br>
                            for discovering refreshing drinks<br>
                            and memorable experiences.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div> 
{% endblock content %}