<div class="size">
    <h1>Flavour,Quantity and Size</h1>
        <div class="fla">
                        <div class="bx1">
                            <img src="{{ single_about.media.url }}" alt="Image" class="image">
                            <p>
                                {{ blogs.context }}
                            </p>
                            <div class="ahref">
                                <a href="{% url 'cart' %}"><button class="up">ADD TO CART</button></a>
                            </div>
                        </div>
                    </div>
                </div>