{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}
        Contact
        {% endblock title %}</title>
</head>
<body>
    <div class=main>
        <div class="contact-container">
            <img src="{% static 'img/chatgpttt.png' %}" height="100" width="100" class="we">
            <h1 class="hi">OKWUSON</h1>
                <div class="solid">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="solid">
                    <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
                <div class="solid">
                    <details class="search-container">
                        <summary>
                            <i class="fa-solid fa-magnifying-glass search-icon" onclick="openSearch()"></i>
                        </summary>
                        <div id="searchBox" class="search-box">
                            <input type="text" id="searchInput" placeholder="Search...">
                            <i class="fa-solid fa-xmark close-search" onclick="closeSearch()"></i>
                        </div>
                    </details>
                </div>
            <div class="nav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'blog' %}">Collections</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'contact' %}">Contact </a></li>
                </ul>
            </div>
            <div>
                <p class="contact-p">GET IN TOUCH</p>
                <h1 class="contact-drinks">
                    We'd love to<br> 
                </h1>
                <h1 class="contact-red">Hear from you!</h1>
                <p class="contact-goal">
                    Have a question, suggestion or you'd like to place<br>
                    an order? send a message and reach us through <br>
                    any of the channels below.
                </p>
            </div>
        </div>

        <section class="contact-sec">
            <div class="contact-freq">
                <h2 class="contact-ask">Frequently Asked Questions</h2>
                <div class="contact-wow">
                    <div class="contact-box1">
                        <i class="fa-regular fa-circle-question"></i>
                    </div>
                    <p class="contact-of">What types of drinks do you offer?</p>
                    <div class="contact-down">
                        <details class="contact-toggle">
                            <summary class="t-header">
                            </summary>
                            <div class="t-content">
                                <p class="contact-of">
                                    visit Collections.
                                </p>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="contact-wow">
                    <div class="contact-box1">
                        <i class="fa-regular fa-circle-question"></i>
                    </div>
                    <p class="contact-of">Do you offer delivery?</p>
                    <div class="contact-done">
                        <details class="contact-toggle">
                            <summary class="t-header">
                            </summary>
                            <div class="t-content">
                                <p class="contact-of">
                                    Yes we offer delivery.
                                </p>
                            </div>
                        </details>
                    </div>
                </div>
                <div class="contact-wow">
                    <div class="contact-box1">
                        <i class="fa-regular fa-circle-question"></i>
                    </div>
                    <p class="contact-of">Is this a long term business?</p>
                    <div class="contact-dawn">
                        <details class="contact-toggle">
                            <summary class="t-header">
                            </summary>
                            <div class="t-content">
                                <p class="contact-of">
                                    Yes it is a Long Term business.
                                </p>
                            </div>
                        </details>
                    </div>
                </div>
            </div>
        </section>


        <section class="contact-info_1">
            <div class="contact-bx10">
                <div class="contact-bx9">
                    <h2 class="contact-cs">Contact Information</h2>
                    <div class="contact-row">
                        <div class="contact-box1">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="contact-details">
                            <h3>Phone</h3>    
                            <p class="contact-num">08148451513</p>
                            <p class="contact-subtext">Mon - Sat: 8:00am - 6:00pm</p>
                        </div>
                    </div><br>
                    
                    <div class="contact-row">
                        <div class="contact-box1">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                        <div class="contact-details">
                            <h3>Email</h3>    
                            <p class="contact-num">oventures@gmail.com</p>
                            <p class="contact-subtext">We reply in 24 hours.</p>
                        </div>
                    </div><br>

                    <div class="contact-row">
                        <div class="contact-box1">
                            <a href="https://www.google.com/maps/place/Wuse+Market/@9.0518971,7.3672694,13z/data=!4m10!1m2!2m1!1sSHOP+61+BLOCK+C+WUSE+MODERN+MARKET+ABUJA,FCT!3m6!1s0x104e0b13045b1c1b:0xfa5f8b95522e903!8m2!3d9.0680035!4d7.4660528!15sCixTSE9QIDYxIEJMT0NLIEMgV1VTRSBNT0RFUk4gTUFSS0VUIEFCVUpBLEZDVFouIixzaG9wIDYxIGJsb2NrIGMgd3VzZSBtb2Rlcm4gbWFya2V0IGFidWphIGZjdJIBBm1hcmtldJoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VSS2QxbHRRMFZSRUFF4AEA-gEECAAQNQ!16s%2Fg%2F11h1dwpm2l?entry=ttu&g_ep=EgoyMDI2MDkxNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                                <i class="fa-solid fa-location-dot"></i>
                            </a>
                        </div>
                        <div class="contact-details">
                            <h3>Address</h3>    
                            <p class="contact-num">SHOP 61 BLOCK C WUSE MODERN MARKET ABUJA,FCT </p>
                            <p class="contact-subtext">ABUJA</p>
                        </div>
                    </div><br>

                    <div class="contact-row">
                        <div class="contact-box1">
                            <i class="fa-regular fa-comment"></i>
                        </div>
                        <div class="contact-details">
                            <h3>FOLLOW US</h3>    
                            <p class="contact-number">
                                <a href="https://youtube.com/yourusername" target="_blank">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </p>
                            <p class="contact-number">
                                <a href="https://tiktok.com/yourusername" target="_blank">
                                    <i class="fa-brands fa-tiktok"></i>
                                </a>
                            </p>
                            <p class="contact-number">
                                <a href="https://instagram.com/yourusername" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="contact-column">
                    <h2 class="contact-css">Send Us a Message</h2>
                    <form>
                        <div class="contact-mail">
                            <div class="contact-text">
                                <input type="text" size="50" name="Your name" placeholder="Your Name" class="contact-names">
                            </div>
                            <div class="contact-email">
                                <input type="text" size="50" name="email" placeholder="Your Email" class="contact-names"><br><br>
                            </div>
                        </div>
                        <div>
                            <input type="text" size="115" name="Subject" placeholder="Subject" class="contact-names"><br><br>
                        </div><br>
                        <div>
                        <textarea name="" id="" cols="107" rows="18" placeholder="Your Message" class="contact-names"></textarea><br> 
                        </div>
                        <div class="contact-box34">
                            <button class="contact-button">
                                SEND MESSAGE
                                <i class="fa-solid fa-paper-plane"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
        <hr class="box">
        <section class="box11">
            <div class="box12">
                <img src="{% static 'img/chatgpttt.png' %}" height="100" width="100" class="when">
                <h1 class="hii">OKWUSON</h1>
                <p class="pass">
                    Great Drinks. Better Moments.
                </p><br>
                <p class="press">
                    Refreshing Drinks Made for every mood<br>and every moment.
                </p>
            </div>
            <div class="box13">
                <h2 class="quick">QUICK LINKS</h2>
                <a href="{% url 'home' %}" class="boot">Home</a><br><br>
                <a href="{% url 'blog' %}" class="boot">Collections</a><br><br>
                <a href="{% url 'about' %}" class="boot">About Us</a><br><br>
                <a href="{% url 'contact' %}" class="boot">Contact </a><br><br>
            </div>
            <div class="box14">
                <h2 class="quick">CONTACT US</h2>
                <div class="box15">
                    <a href="https://wa.me/2348069566534" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>    
                    <span>08148451513/08033149784</span><br><br>
                </div>
                <div class="box15">
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=okwusonventures@gmail.com" target="_blank">
                        <i class="fa-regular fa-envelope"></i>
                    </a>
                    <span>okwusonventures@gmail.com</span><br><br>
                </div>
                <div class="box15">
                    <a href="https://www.google.com/maps/place/Wuse+Market/@9.0518971,7.3672694,13z/data=!4m10!1m2!2m1!1sSHOP+61+BLOCK+C+WUSE+MODERN+MARKET+ABUJA,FCT!3m6!1s0x104e0b13045b1c1b:0xfa5f8b95522e903!8m2!3d9.0680035!4d7.4660528!15sCixTSE9QIDYxIEJMT0NLIEMgV1VTRSBNT0RFUk4gTUFSS0VUIEFCVUpBLEZDVFouIixzaG9wIDYxIGJsb2NrIGMgd3VzZSBtb2Rlcm4gbWFya2V0IGFidWphIGZjdJIBBm1hcmtldJoBI0NoWkRTVWhOTUc5blMwVkpRMEZuU1VSS2QxbHRRMFZSRUFF4AEA-gEECAAQNQ!16s%2Fg%2F11h1dwpm2l?entry=ttu&g_ep=EgoyMDI2MDkxNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                        <i class="fa-solid fa-location-dot"></i>
                    </a>
                    <span>SHOP 61 BLOCK C WUSE<br> MODERN MARKET ABUJA,FCT </span><br> 
                </div>
            </div>
            <div class="box18">
                <h2 class="quick">FOLLOW US</h2>
                <div class="icon">
                    <a href="https://youtube.com/yourusername" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="https://tiktok.com/yourusername" target="_blank">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                    <a href="https://instagram.com/yourusername" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <footer>
                    <P>&copy; <span id="copyright-year"></span> OKWUSON.<br> All Rights Reserved</P>
                </footer>
            </div>
        </section>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>