{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>

    <div class="container">
        <h1>Log In</h1>
        <form method="POST">
            {% csrf_token %}

            <label>Username</label>
            {{ form.username }}

            <label>Password</label>
            {{ form.password1 }}
            
            <button type="submit">Log In</button>
        </form><br>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>

</body>
</html>